body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(253, 199, 175);
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

.stopwatch {
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background: #fff;
    cursor: pointer;
}

button:hover {
    background: #666;
}